<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <title>Course Shop | Order</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
      <link href='{% static 'order.css' %}' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
    <style>
    html, body {
      margin: 0;
      padding: 0;
      font-family: 'Fredoka One', cursive;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

#hello
{
  padding-bottom: 50px;
  padding-left: 80px;
  width:800px;
}
    #footer1
      {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: #04AA6D;
          color: white;
          padding-top: 10px;
          text-align: center;
      }
      </style>
  </head>
  <body style="margin:0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src='{% static "img/logo1.png" %}' width="40px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block homeactive %}  {% endblock homeactive %}">
              <a class="nav-link" href="/afterlogin">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% block aboutactive %}  {% endblock aboutactive %}" >
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item {% block contactactive %}  {% endblock contactactive %} ">
              <a class="nav-link" href="/mycourses">My Courses</a>
            </li>



          </ul>
          <ul class="navbar-nav ml-2">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-toggle="dropdown"> Welcome {{request.user}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="/logout">Logout</a>

                  </div>
                </li>
                </ul>
        </nav>

        <div id="footer1">
          <p>Copyright © 2021 by Crime Report. All Rights Reserved.</p>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">

          <button type="button" class="close" data-dismiss="alert">
          ×
          </button>
        <strong>Message : </strong> {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <div class="wrap">
      <form method="post" action="/order">
        {% csrf_token %}
        <div class="form-header">
          <h2>Course Purchase Form</h2>
        </div>
        <div class="form-body">
          <fieldset>

            <label for="fname">Name</label>
            <input type="text" id="name" name="name" required>
             <label for="address">Email</label>
            <input type="text" id="email" name="email" required>
              <label for="address">Phone</label>
            <input type="text" id="phone" name="phone" required>
            <label for="address">Address</label>
            <input type="text" id="address" name="address" required>
              <label for="incident">Course</label>
        <input list="lists" class="form-control" id="course" name="course"aria-describedby="course"required>
        <datalist id="lists">
          <option value="Python Programming">
          <option value="Embedded System Design">
          <option value="Android Application & Development">
          <option value="Internet of Things with Raspberry Pi">
          <option value="C++ Programming">
            <option value="Digital Marketing & Entrepreneurship">
        </datalist>
          </fieldset>

        </div>
        <div class="form-footer">
          <input type="submit" value="Buy">
        </div>
      </form>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
