<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Course Shop | Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Fredoka+One&family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href='{% static 'signup.css' %}' rel='stylesheet'>
    <title></title>
  <style>
    body, html
{
  height: 120%;
  margin: 0;
  font-family: 'Fredoka One', cursive;
}
#ima
{
  margin: 0;
  font-family: 'Fredoka One', cursive;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('{% static "img/home.jpg" %}');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#footer1
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding-top: 10px;
    text-align: center;
    padding-bottom:20px;
}
.close
{
  color: red;

}
</style>
  </head>
  <body style="margin:0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><img src='{% static "img/logo1.png" %}' width="40px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block homeactive %}  {% endblock homeactive %}">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% block aboutactive %}  {% endblock aboutactive %}" >
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item {% block contactactive %}  {% endblock contactactive %} ">
              <a class="nav-link" href="/signup" >Sign Up</a>
            </li>


          </ul>
        </nav>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">

        <button type="button" class="close" data-dismiss="alert">
        ×
        </button>
        <strong>Message : </strong> {{ message }}
        </div>
        {% endfor %}
        {% endif %}

<div id = "ima">

        <div class="main-w3layouts wrapper">
  	<h1 style="text-align:center;font-size:50px;font-family: 'Righteous', cursive;color:white">Create account</h1>
  		<div class="main-agileinfo">
  			<div class="agileits-top">
  				<form action= "/signup" method='post'>
            {% csrf_token %}
            <input class="text" type="text" name="frname" placeholder="First Name" required=""><br>
            <input class="text" type="text" name="lsname" placeholder="Last Name" required=""><br>
  					<input class="text" type="text" name="Username" placeholder="Username" required="">
  					<input class="text email" type="email" name="email" placeholder="Email" required="">
  					<input class="text" type="password" name="pass1" placeholder="Password" required="">
  					<input class="text w3lpass" type="password" name="pass2" placeholder="Confirm Password" required="">
            <input class="text" type="text" name="dob" placeholder="Date of Birth&nbsp(DD/MM/YY)" required=""><br>
            <input class="text" type="text" name="phone" placeholder="Phone Number" required=""><br>
            <input class="text" type="text" name="address" placeholder="Address" required=""><br>

  					<input type="submit" value="SIGNUP">
  				</form>
  				<p>Already have an account? <a href="/login"> Login Now!</a></p>
  			</div>
  		</div>

  	</div>
    <div id="footer1">
  <p>Copyright © 2021 by Course Shop. All Rights Reserved.</p>
</div>
</div>
          <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        </body>
      </html>
